<app-navbar></app-navbar>
<div class="title text-center mt-5">
  <h1>
    Rezervasyon Oluştur
  </h1>
</div>
<div class="container" style="height: 60vh; display: flex; justify-content: center; align-items: center;">
  <div class="row" style="margin-top: 10%;">
    <div class="col-lg-6">
      <!-- Sol tarafta form elemanları -->
      <form action="" [formGroup]="reservationAddForm" (ngSubmit)="addReservation()">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Adınız" aria-label="Adınız" formControlName="name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Soyadınız" aria-label="Soyadınız"
              formControlName="surname">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="T.C Kimlik No" formControlName="identifier">
          </div>
          <div class="col">
            <input type="date" class="form-control" placeholder="Doğum Tarihi" formControlName="bornDate">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Telefon Numarası" formControlName="phoneNumber">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Mail Adresi" formControlName="email">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <input type="date" class="form-control" placeholder="Giriş Tarihi" formControlName="startDate" min="2022-01"
              max="2030-12">
          </div>
          <div class="col">
            <input type="date" class="form-control" placeholder="Çıkış Tarihi" formControlName="endDate" min="2022-01"
              max="2030-12">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Ülke" formControlName="country">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="İl" formControlName="city">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="İlçe" formControlName="district">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <select class="form-select" aria-label="Default select example" formControlName="house"
              [(ngModel)]="itemSelectId" (change)="onChangeDropdown($event)">
              <option *ngFor="let data of houseData.data" [value]="data.id">{{data.title}}</option>
            </select>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center">
            <button type="submit" class="btn btn-warning">
              Rezervasyon Yaptır
            </button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-lg-6">
      <!-- Gallery -->
      <div class="row">
        <ng-container *ngFor="let image of selectHouseData.data.images; let i = index">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngIf="i % 2 === 0">
            <img [src]="imgUrl + '/' + image.path" class="w-100 shadow-1-strong rounded mb-4" [alt]="image.alt" />
            <img *ngIf="i + 1 < selectHouseData.data.images.length" [src]="imgUrl + '/' + selectHouseData.data.images[i + 1].path" class="w-100 shadow-1-strong rounded mb-4" [alt]="selectHouseData.data.images[i + 1].alt" />
          </div>
        </ng-container>
      </div>
      
      <!-- Gallery -->

    </div>
  </div>
</div>