<div class="secureContainer">

  <div class="card text-center p-3" style="max-width: 400px; margin: 0 auto;">
    <div class="card-header bg-white">
      <div class="row">
        <div class="col-md-6 text-left">
          <img src="schema_000000002.gif" alt="">
        </div>
        <div class="col-md-6 text-right">
          <img src="fastpay.png" alt="">
        </div>
      </div>
      <div class="row text-center mt-3">
        <p>
          Doğrulama kodunu girin
        </p>
      </div>

      <div class="card-body border-top">
        <div class="text-group">
          <p>İşyeri Adı:</p>
          <p>The Bungalov</p>
        </div>
        <div class="text-group">
          <p>İşlem Tutarı:</p>
          <p>Test işyeri</p>
        </div>
        <div class="text-group">
          <p>İşlem Tarihi/Saati:</p>
          <p>Test işyeri</p>
        </div>
        <div class="text-group">
          <p>Kart Numarası:</p>
          <p>Test işyeri</p>
        </div>
      </div>

      <div class="card-footer bg-white mt-2">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary btn-primary text-white" type="button" id="button-addon1">Doğrula</button>
          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
            aria-describedby="button-addon1">
        </div>
        <small class="form-text text-muted font-sm text-mini">SMS doğrulama kodu telefonunuza gönderildi.</small>
      </div>
      <div class="text-center">
        <a href="/" class="text-mini mr-3 p-3 text-primary">İşlemi İptal Et</a>
        <a href="" class="text-mini ml-3 p-3 text-primary">Yardım</a>
      </div>
    </div>
    <div class="mt-3">
      <img src="secureFooter.png" alt="" width="100" height="50">
    </div>
  </div>

</div>